<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/layout.css" />

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
     <script type="text/javascript" src="~/Scripts/date.js"></script>

    @RenderSection("faq",required:false)
    @RenderSection("contact",required:false)
    @RenderSection("customer",required:false)
    @RenderSection("fleet",required:false)
    @RenderSection("loc",required:false)
    @RenderSection("res",required:false)
    @RenderSection("signin",required:false)
    @RenderSection("signup",required:false)

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div id="d1" style="background-color:#21387d" height=10px width=100px>

        <img id="logo" align="left" src="/images/westline_logo.jpg"/>

        <ul id="menu">
         <li id="date">Saturday, 17 January 2015</li>
        </ul>
        </div>
    </header>

    @RenderBody()

<footer>
  <p style="color:#a3a3a3;font-size:13.5px; background-color:#f5f5f5; padding:20px 80px">Copyright 2015 Westline Transport (ABN 95167773953), All Rights Reserved.</p>
</footer>

</body>
</html>
