@model List<Fleet_Rentals.Models.SignUp>


<head>
    <title>
        Record
    </title>

<style>
#update 
{
    width:100px;
    height:30px;
    border:5px;
    font-family:'Arabic Typesetting';
    font-size:25px;
    color:#08410f;
}
#update:hover 
{
    background-color:#24a41f;
    color:#ffffff;
}

#delete 
{
    width:100px;
    height:30px;
    border:5px;
    font-family:'Arabic Typesetting';
    font-size:25px;
    color:#b01b1b;
}
#delete:hover 
{
    background-color:#f00;
    color:#ffffff;
}
</style>
    </head>
<body style="background-color:#000000; background-image:url(/images/bg.gif)">
<h2 style="text-align:center; font-size:50px; font-family:'Agency FB'; color:#b6ff00">List of Members</h2>


<table border="1" style="color:#ffd800; width:560px; margin-left:380px; font-family:'Agency FB';font-size:21px">
    <tr>
        <td>ID</td>
        <td>Business Email</td>
        <td>Full Name</td>
        <td>Username</td>
        <td>Password</td>
    </tr>
    @foreach(var s in Model)
    {
        
        <tr>
            <td>@s.Id</td>
            <td>@s.Business_Email</td>
            <td>@s.Full_Name</td>
            <td>@s.Username</td>
            <td>@s.Password</td>

            <td>
                <a href="/RecordView/update/@s.Id">
                <input type="button" id="update" value="Update" />
                </a>

                <a href="/RecordView/Delete/@s.Id">
                <input type="button" id="delete" value="Delete" />
                </a>
            </td>
        </tr>
    }
</table>
</body>